<%= form_with(model: @link.becomes(Link)) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :large_url, style: "display: block" %>
    <%= form.text_field :large_url %>
  </div>

  <% if (params[:action] == "new") || @link.type == "LinkTemporal" %>
    <div>
      <%= form.label :expires_at %>
      <%= form.datetime_local_field :expires_at %>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
    <div>
      <%= form.label :type %>
      <%= form.radio_button :type, 'LinkRegular', checked: true %> LinkRegular
      <%= form.radio_button :type, 'LinkEphemeral' %> LinkEphemeral
      <%= form.radio_button :type, 'LinkTemporal' %> LinkTemporal
    </div>
  <% end %>
    
  <div>
    <%= form.submit %>
  </div>
<% end %>
