<%= form_with(model: @link.becomes(Link)) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <br>

  <div>
    <%= form.label :large_url, style: "display: block" %>
    <%= form.text_field :large_url %>
  </div>

  <br>

  <% if params[:link_type] == "LinkTemporal" || @link.type == "LinkTemporal"%>
    <div>
      <%= form.label :expires_at %>
      <br>
      <%= form.datetime_local_field :expires_at %>
    </div>
  <% end %>

  <br>

  <% if params[:link_type] == "LinkPrivate" || @link.type == "LinkPrivate" %>
    <div>
      <%= form.label :secret %>
      <br>
      <%= form.text_field :secret %>
    </div>
  <% end %>

   <% if @link.type == "LinkEphemeral" %>
    <div>
      <%= form.label :visited %>
      <br>
      <%= form.check_box :visited, checked: @link.visited %>
    </div>
  <% end %>

  <br>

  <!-- include link_type as part of the submit parameters -->
  <% if params[:link_type] %>
    <%= hidden_field_tag :link_type, params[:link_type] %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
