<div id="<%= dom_id link %>">
  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Large url:</strong>
    <%= link.large_url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= link.type %>
  </p>

  <% if link.type == "LinkEphemeral" %>
    <p>
      <strong>Visited:</strong>
      <%= link.visited %>
    </p>
  <% end %>

  <% if link.type == "LinkTemporal" %>
    <p>
      <strong>Expires At:</strong>
      <%= link.expires_at %>
    </p>
  <% end %>





</div>
