<%= javascript_include_tag 'application' %>

<p style="color: green"><%= notice %></p>

<style>
    /* Optional: Add styling to the div */
    .right-aligned-div {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
      float: right;
    }

  hr {
    border: 5px solid #ccc; /* Adjust the color and thickness of the line */
    margin-top: 20px; /* Adjust the top margin */
    margin-bottom: 20px; /* Adjust the bottom margin */
  }
</style>

 <div class="right-aligned-div">
    <p> Welcome <%= @current_user.username %> </p>
    <% if user_signed_in? %>
      <!-- Display logout link if user is signed in -->
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>

<h1>Links</h1>

<div id="links">
  
</div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Large</th>
        <th>Slug</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.name %></td>
          <td><%= link.type %></td>
          <td><%= link.large_url %></td>
          <td><%= link.slug %></td>
          <td> <%= link_to "Show this link | ", link_path(link) %> </td>
          <td> <%= link_to "Reports", link_report_url(link) %> </td>
        </tr>
       <% end %>
    </tbody>
  </table>

<hr>
<h3> Create New Link </h3>

<%= form_tag(new_link_path, method: "get") do %>
  <%= radio_button_tag :link_type, "LinkRegular", true %> Regular
  <%= radio_button_tag :link_type, "LinkPrivate" %> Private
  <%= radio_button_tag :link_type, "LinkEphemeral" %> Ephemeral
   <%= radio_button_tag :link_type, "LinkTemporal" %> Temporal
  <%= submit_tag "New Link" %>
<% end %>