 <div style="color: red">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>

<h1>Enter Password</h1>

<%= form_with(url: redirect_to_large_url_for_private_links_path, method: :post) do |form| %>
  <%= form.label :password_private %>
  <%= form.text_field :password_private %>

  <%= form.submit 'Submit' %>
<% end %>
<%= link_to "Back to links", links_path %>