<style>
  hr {
    border: 5px solid #ccc; /* Adjust the color and thickness of the line */
    margin-top: 20px; /* Adjust the top margin */
    margin-bottom: 20px; /* Adjust the bottom margin */
  }
</style>

<h1> See reports for link: <%=@link.name%> </h1>
<h3> <b> <%= link_to "Back to links", links_path %> </b></h3>


<h2> <u> Report #1 </u> </h2>
<%= form_with(url: link_report_url, method: "get") do |form| %>
  <%= form.text_field :ip_address, value: params[:ip_address], placeholder: "Search by IP Address" %>
  <!-- Label for start_date -->
  <%= form.label :start_date, "Start Date"%>
  <%= form.date_field :start_date, value: params[:start_date] %>
  <!-- Label for end_date -->
  <%= form.label :end_date, "End Date" %>
  <%= form.date_field :end_date, value: params[:end_date] %>
  <%= form.submit "Search" %>
<% end %>
<p> <b> <%= link_to "Clear", link_clear_url %> </b> </p>

<!-- Display flash messages -->
 <div style="color: red">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>

<p> Amount of results: <%= @visits_search.length %> </p>
<p> <b> Date</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | <b> IP address </b> </p>
<% if @visits_search.any? %>
  <% @visits_search.each do |visit| %>
    <p> <%= visit.visited_at.strftime("%m-%d-%Y") %> | <%= visit.ip_address %></p>
  <% end %>
<% else %>
  <p>No results found</p>
<% end %>

<hr>

<h2> <u> Report #2 </u> </h2>

<% if @visits_count.any? %>
  <p> <b> Date</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | <b> Amounts of Visits </b> </p>
  <% @visits_count.each do |date, count|%>
    <p> <%= date %> | <%= count %> </p>
  <% end %>
<% else %>
  <p>No results found</p>
<% end %>

